@font-face{
font-family : "Apple SD Gothic Neo";
src:url(./fonts/AppleSDGothicNeoR.woff) format("woff");
}

*{
    box-sizing: border-box;
    background: #FFFFFF;
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
}

body{
    margin: 0 auto;
    padding: 0;
    width: 375px;
    height: 812px;
    background: #FFFFFF;
}

.hd{
    margin :0 auto;
    padding-top: 50px;
    position:relative;
    /* display:flex; */
}

.hd-container::after{
    content:" ";
    display:block;
    clear:both;
}

.profileimg{
    /* position: absolute; */
    float: left;
    width: 58px;
    height: 58px;
    left: 25px;
    top: 101px;
    object-fit:cover;
    margin-right: 10px;
    padding-right:10px
}

.user-info{
    float:left;
    margin:10px 40px 0px 0px;
} 

.level{
    /* position: absolute; */
    width: 27px;
    height: 14px;
    left: 161px;
    top: 118px;
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;

    color: #666666;
}

.personal-explanation{
    /* position: absolute; */
    width: 67px;
    height: 18px;
    left: 99px;
    top: 137px;
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #666666;
}

 /* 상단바 css */
header{
    margin-top: 77px;
    display: flex;
    justify-content: end;
    padding-right: 5px;
}

header img{
    margin-right: 15px;
}

.name{
    /* position: absolute; */
    width: 55px;
    height: 25px;
    left: 99px;
    top: 110px;

    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;

    color: #000000;
}
.mission-tab {
    margin-top: 60px;
    display:flex;
    justify-content: center;
}

.mis-btn{
    padding-right: 80px;
}
.mis-btn:last-child{
    padding-right:0px;
}
.main-sec{
    position:relative;
    width: 375px;
    height: 500px;
    left: 0px;
    background: #F9F9F9;
    border-top: 0.5px solid #C0C0C0
}

.msg{
    /* position: absolute; */
    padding-left: 5%;
    width: 250px;
    height: 17.49px;
    left: 25px;
    top: 250px;
    background-color: transparent;

    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #8C8C8C;
}

.msg-stress{
    color: #666666;
    background-color: transparent;
}

h2{
    background-color: transparent;
}

.missions{
    position:center;
}

.mission-contents{
    background-color: transparent;
}

.mission1{
    position: absolute;
    width: 160px;   
    height: 165.22px;
    left: 18px;
    top: 283.28px;
    background: #F6FAFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border : none;
}


.mission2{
    position: absolute;
    width: 160px;
    height: 165.22px;
    left: 197px;
    top: 283.28px;

    background: #F6FAFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
}

.mission3{
    position: absolute;
    width: 160px;
    height: 165.22px;
    left: 18px;
    top: 465.02px;

    background: #F6FAFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.mission4{
    position: absolute;
width: 160px;
height: 165.22px;
left: 197px;
top: 465.02px;

background: #FFFFFF;
box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}

.mission5{
    /* 미션 창 - 진행 전 */
    position: absolute;
    width: 160px;
    height: 165.22px;
    left: 18px;
    top: 646.77px;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.mission6{ 
    position: absolute;
    width: 160px;
    height: 165.22px;
    left: 197px;
    top: 646.77px;
    
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
